#### **1. What is the average TotalPayBenefits for each JobTitle? exclude ('Not Provided', 'Not provided')**

In [1]:
import sqlite3
import pandas as pd

In [2]:
db_path = "database.sqlite"
conn = sqlite3.connect(db_path)

In [3]:
query1 = """
SELECT JobTitle, 
       AVG(TotalPayBenefits) AS AvgTotalPayBenefits
FROM Salaries
WHERE JobTitle NOT IN ('Not Provided', 'Not provided')
GROUP BY JobTitle
ORDER BY AvgTotalPayBenefits DESC;
"""
df1 = pd.read_sql(query1, conn)
print("Average TotalPayBenefits by JobTitle:\n", df1)

Average TotalPayBenefits by JobTitle:
                                             JobTitle  AvgTotalPayBenefits
0                           Chief Investment Officer        436224.360000
1                                    Chief of Police        411732.266667
2                             Chief, Fire Department        408865.326667
3     GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY        399211.275000
4                         Gen Mgr, Public Trnsp Dept        380696.440000
...                                              ...                  ...
2153                           SPECIAL ASSISTANT XIV           673.800000
2154              BOARD/COMMISSION MEMBER, GROUP III           638.787879
2155                      BdComm Mbr, Grp2,M=$25/Mtg           475.047742
2156               BOARD/COMMISSION MEMBER, GROUP II           296.511628
2157         PUBLIC SAFETY COMMUNICATIONS TECHNICIAN           149.510000

[2158 rows x 2 columns]

#### **2. Show The JobTitle and Overtime Pay for All Employees With Overtime Pay greater than 50000**

In [4]:
query2 = """
SELECT EmployeeName, JobTitle, OvertimePay
FROM Salaries
WHERE OvertimePay > 50000;
"""
df2 = pd.read_sql(query2, conn)
print("Employees with OvertimePay > 50000:\n", df2)

Employees with OvertimePay > 50000:
             EmployeeName                                          JobTitle  \
0         ALBERT PARDINI                   CAPTAIN III (POLICE DEPARTMENT)
1      CHRISTOPHER CHONG              WIRE ROPE CABLE MAINTENANCE MECHANIC
2              ALSON LEE                BATTALION CHIEF, (FIRE DEPARTMENT)
3         MICHAEL MORRIS                BATTALION CHIEF, (FIRE DEPARTMENT)
4          ARTHUR KENNEY  ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
...                  ...                                               ...
2163  Girma-Worku Zeleke                           Parking Control Officer
2164        Not provided                                      Not provided
2165        Not provided                                      Not provided
2166        Not provided                                      Not provided
2167        Not provided                                      Not provided

       OvertimePay
0        106088.18
1         56120.71
2          89062.9
3         86362.68
4         71344.88
...            ...
2163      54738.36
2164  Not Provided
2165  Not Provided
2166  Not Provided
2167  Not Provided

[2168 rows x 3 columns]

#### **3. What is the total number of unique employees? exclude ('Not Provided', 'Not provided')**

In [5]:
query3 = """
SELECT COUNT(DISTINCT EmployeeName) AS TotalUniqueEmployees
FROM Salaries
WHERE EmployeeName NOT IN ('Not Provided', 'Not provided');
"""
df3 = pd.read_sql(query3, conn)
print("Total Unique Employees:\n", df3)

Total Unique Employees:
    TotalUniqueEmployees
0                110808

#### **4.Show The Top 10 highest Paid Employees**

In [6]:
query4 = """
SELECT EmployeeName, JobTitle, TotalPayBenefits
FROM Salaries
ORDER BY TotalPayBenefits DESC
LIMIT 10;
"""
df4 = pd.read_sql(query4, conn)
print("Top 10 Highest Paid Employees:\n", df4)

Top 10 Highest Paid Employees:
            EmployeeName                                        JobTitle  \
0        NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1           David Shinn                                  Deputy Chief 3
2            Amy P Hart                               Asst Med Examiner
3  William J Coaker Jr.                        Chief Investment Officer
4        Gregory P Suhr                                 Chief of Police
5  Joanne M Hayes-White                          Chief, Fire Department
6        Gregory P Suhr                                 Chief of Police
7  Joanne M Hayes-White                          Chief, Fire Department
8       Ellen G Moffatt                               Asst Med Examiner
9        Gary Altenberg                    Lieutenant, Fire Suppression

   TotalPayBenefits
0         567595.43
1         510732.68
2         479652.21
3         436224.36
4         425815.28
5         422353.40
6         418019.22
7         417435.10
8         415767.94
9         407274.78

#### **5.Show All Employees Ordered By Their TotalPay Benefits In Descending Order**

In [7]:
query5 = """
SELECT EmployeeName, JobTitle, TotalPayBenefits
FROM Salaries
ORDER BY TotalPayBenefits DESC;
"""
df5 = pd.read_sql(query5, conn)
print("All Employees Ordered By Salary:\n", df5)

All Employees Ordered By Salary:
                 EmployeeName                                        JobTitle  \
0             NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                David Shinn                                  Deputy Chief 3
2                 Amy P Hart                               Asst Med Examiner
3       William J Coaker Jr.                        Chief Investment Officer
4             Gregory P Suhr                                 Chief of Police
...                      ...                                             ...
148648          Not provided                                    Not provided
148649      Timothy E Gibson                                Police Officer 3
148650        Mark E Laherty                                Police Officer 3
148651         David P Kucia                                Police Officer 3
148652             Joe Lopez                      Counselor, Log Cabin Ranch

        TotalPayBenefits
0              567595.43
1              510732.68
2              479652.21
3              436224.36
4              425815.28
...                  ...
148648              0.00
148649             -2.73
148650             -8.20
148651            -33.89
148652           -618.13

[148653 rows x 3 columns]