In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Salaries.csv")

C:\Users\mmune\AppData\Local\Temp\ipykernel_7472\91212481.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Salaries.csv")

In [3]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Drop rows where EmployeeName and JobTitle are 'Not provided'

In [4]:
df = df[~((df['EmployeeName'] == 'Not provided') & (df['JobTitle'] == 'Not provided'))]

In [5]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

In [6]:
df = df.copy()

pay_cols = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']

df[pay_cols] = df[pay_cols].replace('Not Provided', 0)

for col in pay_cols:
    df[col] = df[col].astype(float)

print(df[pay_cols].head())

     BasePay  OvertimePay   OtherPay  Benefits
0  167411.18         0.00  400184.25       NaN
1  155966.02    245131.88  137811.38       NaN
2  212739.13    106088.18   16452.60       NaN
3   77916.00     56120.71  198306.90       NaN
4  134401.60      9737.00  182234.59       NaN

In [7]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

Change BasePay	OvertimePay	OtherPay	Benefits type to float

In [8]:
df = df.copy()

pay_cols = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']
df.loc[:, pay_cols] = df[pay_cols].astype(float)

In [9]:
df[pay_cols].head(10)

     BasePay  OvertimePay   OtherPay  Benefits
0  167411.18         0.00  400184.25       NaN
1  155966.02    245131.88  137811.38       NaN
2  212739.13    106088.18   16452.60       NaN
3   77916.00     56120.71  198306.90       NaN
4  134401.60      9737.00  182234.59       NaN
5  118602.00      8601.00  189082.74       NaN
6   92492.01     89062.90  134426.14       NaN
7  256576.96         0.00   51322.50       NaN
8  176932.64     86362.68   40132.23       NaN
9  285262.00         0.00   17115.73       NaN

Display all employees name and basepay columns who have a BasePay greater than 200,000.

In [10]:
high_basepay = df.loc[df['BasePay'] > 200000, ['EmployeeName', 'BasePay']]
print(" Employees with BasePay > 200,000:\n", high_basepay.head())

 Employees with BasePay > 200,000:
           EmployeeName    BasePay
2       ALBERT PARDINI  212739.13
7        DAVID KUSHNER  256576.96
9   JOANNE HAYES-WHITE  285262.00
12   EDWARD HARRINGTON  294580.02
13         JOHN MARTIN  271329.03

Find all employees whose JobTitle contains the word “Manager” (case = False)

In [11]:
managers = df[df['JobTitle'].str.contains('Manager', case=False, na=False)]
print("\n Employees with 'Manager' in JobTitle:\n", managers.head())

 Employees with 'Manager' in JobTitle:
       Id    EmployeeName                                        JobTitle  \
0      1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
83    84  EDWARD REISKIN  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
87    88     KEVIN BARRY                                     MANAGER VII
95    96    MIVIC HIROSE                                    MANAGER VIII
162  163   JULIE LABONTE                                    MANAGER VIII

       BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0    167411.18          0.0  400184.25       NaN  567595.43         567595.43
83   230827.12          0.0       0.00       NaN  230827.12         230827.12
87    96814.36          0.0  133563.47       NaN  230377.83         230377.83
95   215180.76          0.0   12000.00       NaN  227180.76         227180.76
162  207501.20          0.0    2903.37       NaN  210404.57         210404.57

     Year  Notes         Agency Status
0    2011    NaN  San Francisco    NaN
83   2011    NaN  San Francisco    NaN
87   2011    NaN  San Francisco    NaN
95   2011    NaN  San Francisco    NaN
162  2011    NaN  San Francisco    NaN

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

In [12]:
selected_columns = df[['EmployeeName', 'JobTitle', 'TotalPay']]
print("\n Selected Columns:\n", selected_columns.head())

 Selected Columns:
         EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

    TotalPay
0  567595.43
1  538909.28
2  335279.91
3  332343.61
4  326373.19

Find count of employees who have zero OvertimePay.

In [13]:
zero_overtime_count = (df['OvertimePay'] == 0).sum()
print("\n Count of employees with 0 OvertimePay:", zero_overtime_count)

 Count of employees with 0 OvertimePay: 77321

Calculate the TotalPay for each JobTitle where totalpay > 300000

In [14]:
totalpay_jobtitle = df[df['TotalPay'] > 300000].groupby('JobTitle')['TotalPay'].sum().reset_index()
print("\n TotalPay (JobTitle > 300,000):\n", totalpay_jobtitle.head())

 TotalPay (JobTitle > 300,000):
                              JobTitle    TotalPay
0           ASSISTANT DEPUTY CHIEF II   316285.74
1            Assistant Deputy Chief 2   654066.15
2        Asst Chf of Dept (Fire Dept)  1303828.26
3                   Asst Med Examiner  1069837.40
4  BATTALION CHIEF, (FIRE DEPARTMENT)   619408.60

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

In [15]:
top5_avg_totalpaybenefits = df.groupby('JobTitle')['TotalPayBenefits'].mean().nlargest(5).reset_index()
print("\n Top 5 JobTitles by Avg TotalPayBenefits:\n", top5_avg_totalpaybenefits)

 Top 5 JobTitles by Avg TotalPayBenefits:
                                          JobTitle  TotalPayBenefits
0                        Chief Investment Officer     436224.360000
1                                 Chief of Police     411732.266667
2                          Chief, Fire Department     408865.326667
3  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     399211.275000
4                      Gen Mgr, Public Trnsp Dept     380696.440000

Replace all missing Benefits values with 0

In [16]:
df['Benefits'] = df['Benefits'].fillna(0)

In [17]:
df['Benefits'].head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: Benefits, dtype: float64

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

In [18]:
top_employee_per_year = df.loc[df.groupby('Year')['TotalPay'].idxmax(), ['Year', 'EmployeeName', 'TotalPay']]
print("\n Top Employee per Year:\n", top_employee_per_year)

 Top Employee per Year:
         Year    EmployeeName   TotalPay
0       2011  NATHANIEL FORD  567595.43
36159   2012  Gary Altenberg  362844.66
72927   2013     Samson  Lai  347102.32
110531  2014     David Shinn  471952.64

Find the number of employees per JobTitle.

In [19]:
employees_per_job = df['JobTitle'].value_counts().reset_index()
employees_per_job.columns = ['JobTitle', 'EmployeeCount']
print("\n Employees per JobTitle:\n", employees_per_job.head())

 Employees per JobTitle:
                        JobTitle  EmployeeCount
0              Transit Operator           7036
1                 Special Nurse           4389
2              Registered Nurse           3736
3  Public Svc Aide-Public Works           2518
4              Police Officer 3           2421