# Data Analytics Assignment-02

Q1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:

Sum

Difference

Product

Division

Floor Division

Modulus

In [1]:
a = 15
b = 4

print(f"""Sum of a and b is: {a+b}

Difference of a and b is: {a-b} 

Product of a and b is: {a*b}

Division of a and b is: {a/b}

Floor Division of a and b is: {a//b}

Modulus of a and b is: {a%b}

""")

Sum of a and b is: 19

Difference of a and b is: 11

Product of a and b is: 60

Division of a and b is: 3.75

Floor Division of a and b is: 3

Modulus of a and b is: 3

Q2. Check the type and convert: (num1 = 10, num2 = 5.6, num3 = 4.43, num4='23')

Integer to float

Float to integer

Float to String

String to Integer

In [2]:
num1 = 10
num2 = 5.6
num3 = 4.43
num4='23'

print(f"""Type of num1 is: {type(num1)}
Type of num1 is: {type(num2)}
Type of num1 is: {type(num3)}
Type of num1 is: {type(num4)}
""")
print(f"""
After Conversion 
{float(num1)}  {type(float(num1))}
{int(num2)}  {type(int(num2))}
{str(num3)}  {type(str(num3))}
{int(num4)}  {type(int(num4))}
""")

Type of num1 is: <class 'int'>
Type of num1 is: <class 'float'>
Type of num1 is: <class 'float'>
Type of num1 is: <class 'str'>


After Conversion
10.0  <class 'float'>
5  <class 'int'>
4.43  <class 'str'>
23  <class 'int'>

Q3. Write a code to store your favorite food in a variable and print it.

In [3]:
favorite_Food = "Biryani"
print(f"My Favorite Food is: {favorite_Food}")

My Favorite Food is: Biryani

Q4. "I have 22 apples and 33 mangoes. How many fruits do I have in total?"

apple = '22'

mangoes = 33

In [4]:
apple = '22'
mangoes = 33

print(f"""
I have 22 Apples and 33 manoes
and in Total I have {int(apple) + mangoes} Fruits
""")

I have 22 Apples and 33 manoes
and in Total I have 55 Fruits

Q5. Store in a varibale: Write Your name , Your age, Add 1 to your age using a variable, Print final age

In [5]:
name = "Muneeb"
age = 28

print("My age is : " , age+1)

My age is :  29

Q6.

a = 2

b = 1

c = 6

d = 3

Add a and b

Subtract c and a

Multiply d and b

Divide c and d (float division)

Find modulus of c divided by d

Square of (d+a)

In [6]:
a = 2
b = 1
c = 6
d = 3
print(f"""
Addition of a and b is : {a+b}
Subtraction of c and a is : {c-a}
Multiplication of c and d is : {c*d}
Division of c and d is : {c/d}
Modulus of c divided by d is : {c%d}
square of d+a is : {(d+a)**2}
""")

Addition of a and b is : 3
Subtraction of c and a is : 4
Multiplication of c and d is : 18
Division of c and d is : 2.0
Modulus of c divided by d is : 0
square of d+a is : 25

Q7.

a = '2'

b = '11'

c = 6.3

Convert a to integer then add to c

Convert b to float then multiply by c

Convert c to integer then add to c

In [7]:
a = '2'

b = '11'

c = 6.3

print(f"""
{int(a)+c}
{float(b)*c}
{int(c)+c}
        """)

8.3
69.3
12.3

Q8.

You were 20 years old in the year 2020. Now add 5 more years to your age. What is your current age now?

Store age in a variable called age. Print final output in same variable

In [8]:
age = 20
print("My Current Age is :" , age+5)

My Current Age is : 25

Q9.

You had 12 books, and you gave 4 to your friend. How many books do you have now?

Store books in a variable called books. Print final output in same variable

In [9]:
books = 12 
print("Now I have",books-4 , "Books")

Now I have 8 Books

Q10.

You baked 5 cookies. You baked 3 times more cookies today. How many cookies did you bake today?

Store cookies in a variable called cookies. Print final output in same variable

In [10]:
cookies = 5
print ("I Have Baked Total",cookies*3,"Cookies")

I Have Baked Total 15 Cookies