Drop rows where EmployeeName and JobTitle are 'Not provided'

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

Change BasePay	OvertimePay	OtherPay	Benefits type to float

Display all employees name and basepay columns who have a BasePay greater than 200,000.

Find all employees whose JobTitle contains the word “Manager” (case = False)

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

Find count of employees who have zero OvertimePay.

Calculate the TotalPay for each JobTitle where totalpay > 300000

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

Replace all missing Benefits values with 0

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

Find the number of employees per JobTitle.