Q1

animals = ["cat", "dog", "rabbit", "tiger", "elephant"]

- Print "tiger" by indexing
- Print "rabbit by negative indexing
- Print "rabbit" to "elephant" by slicing

In [1]:
animals = ["cat", "dog", "rabbit", "tiger", "elephant"]

print(f"Print \"tiger\" by indexing: {animals[3]}" )
print(f"Print \"rabbit\" by negative indexing: {animals[-3]}" )
print(f"Print \"rabbit\" to \"elephant\" by possitive index slicing: {animals[2:5]}" )
print(f"Print \"rabbit\" to \"elephant\" by negetive index slicing: {animals[-3:]}" )

Print "tiger" by indexing: tiger
Print "rabbit" by negative indexing: rabbit
Print "rabbit" to "elephant" by possitive index slicing: ['rabbit', 'tiger', 'elephant']
Print "rabbit" to "elephant" by negetive index slicing: ['rabbit', 'tiger', 'elephant']

Q2.

Add "lion" to the list of animals by list method append

Remove "rabbit" from the list by list method remove

Print the updated list.

In [2]:
animals.append("loin")
print(f"Animals List After Adding \"loin\: {animals}")
animals.remove("rabbit")
print(f"Animals List After Rmoving \"rabbit\: {animals}")
print(f"Updated Animals List: {animals}")

Animals List After Adding "loin\: ['cat', 'dog', 'rabbit', 'tiger', 'elephant', 'loin']
Animals List After Rmoving "rabbit\: ['cat', 'dog', 'tiger', 'elephant', 'loin']
Updated Animals List: ['cat', 'dog', 'tiger', 'elephant', 'loin']

Q3.

basket = [["apple", "banana", "mango"], ["red", "blue", "green", "black"]]

- print list of fruits
- print list of colors
- print second fruit by negative indexing
- replace color "blue" with "white"
- print length of colors list

In [3]:
basket = [["apple", "banana", "mango"], ["red", "blue", "green", "black"]]

print(f"List of Fruits: {basket[0]}")
print(f"List of Colors: {basket[1]}")
print(f"second fruit by negative indexing: {basket[-2][1]}")
print(f"second fruit by negative indexing: {basket[-2][-2]}")
basket[1][1] = "white"
print(f"replace color \"blue\" with \"white\": {basket[1][1]}")
print(f"length of colors list: {len(basket[1])}")

List of Fruits: ['apple', 'banana', 'mango']
List of Colors: ['red', 'blue', 'green', 'black']
second fruit by negative indexing: banana
second fruit by negative indexing: banana
replace color "blue" with "white": white
length of colors list: 4

Q4.

food = ["pizza", "burger", "fries", "burger", "pasta", "burger", "biryani", "fries]

- Add "sandwich" to the end of the list.
- Insert "biryani" at index 2.

In [4]:
food = ["pizza", "burger", "fries", "burger", "pasta", "burger", "biryani", "fries"]

food.append("sandwich")
food.insert(2,"biryani")
print(f"Updated Food List: {food}")

Updated Food List: ['pizza', 'burger', 'biryani', 'fries', 'burger', 'pasta', 'burger', 'biryani', 'fries', 'sandwich']

Q5.

- Sort the food list in alphabetical order
- Reverse the order of the list food

In [5]:
food.sort()
print(f"Sorted food list in alphabetical order: {food}")
food.sort(reverse=True)
print(f"Reverse order list of food: {food}")

Sorted food list in alphabetical order: ['biryani', 'biryani', 'burger', 'burger', 'burger', 'fries', 'fries', 'pasta', 'pizza', 'sandwich']
Reverse order list of food: ['sandwich', 'pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'burger', 'biryani', 'biryani']

Q6.

- Find the index of "pasta" and print it from the list of food
- Count how many times "pizza" appears in list food

In [6]:
indexOfPasta = food.index("pasta")
print(f" index of \"pasta\" is: {indexOfPasta}")
pizzaCount=food.count("pizza")
print(f" \"pizza\" appears in food list {pizzaCount} time")

 index of "pasta" is: 2
 "pizza" appears in food list 1 time

Q7.

- Remove "burger" (only the first one) from the list food.
- Remove the last item using pop() and print it.

In [7]:
food.remove("burger")
print(f"Updated list after removing the first \"burger\" from the food list: {food}")
food.pop()
print(f"Updated list after removing the last item from the food list: {food}")

Updated list after removing the first "burger" from the food list: ['sandwich', 'pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'biryani', 'biryani']
Updated list after removing the last item from the food list: ['sandwich', 'pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'biryani']

Q8.

- Make a copy of the list of food and name it my_food
- Clear the original food list.

In [8]:
my_food = food
food.clear()

Q9.

Count nested list [1,2] by count method

data = [[1, 2],[3, 4],[1, 2],[2,4],[1, 2],[1,3,6]]

In [9]:
data = [[1, 2],[3, 4],[1, 2],[2,4],[1, 2],[1,3,6]]
print(f"nested list [1,2] count is: {data.count([1,2])}")

nested list [1,2] count is: 3

Q10.

Replace 'cat' with 'found you'


odd_item = ['almond','peanut',['onion','potato','tomato',['apple','mango','cherry',['cat'],'banana'],'lemon',],'walnut']

In [10]:
# odd_item = 
# [
#     'almond',
#     'peanut',
#     [
#         'onion',
#         'potato',
#         'tomato',
#         [
#             'apple',
#             'mango',
#             'cherry',
#             [
#                 'cat'
#             ],
#             'banana'
#         ]
#         ,
#         'lemon',
#     ]
#     ,
#     'walnut'
# ]

odd_item = ['almond','peanut',['onion','potato','tomato',['apple','mango','cherry',['cat'],'banana'],'lemon',],'walnut']
odd_item[2][3][3][0]= "found you"

print(odd_item)

['almond', 'peanut', ['onion', 'potato', 'tomato', ['apple', 'mango', 'cherry', ['found you'], 'banana'], 'lemon'], 'walnut']